@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    @apply h-screen w-screen;
}

body {
    background: #222222;
    /* linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,9,121,1) 44%, rgba(29,239,255,1) 100%); */
    color: white;
    place-items: center;
}

.section {
    padding-top: 60px;
    place-items: center;
}

h3 {
    font-size: x-large;
    text-transform: uppercase;
    color: #e34251;
}

/* FLOATING LAPTOP */
.floating-laptop {
    border: 6px solid #000;
    border-radius: 16px;
    animation: float 3s ease-in-out infinite;
    transition: transform 0.3s;
    box-sizing: border-box;
    user-select: none;
    transform: rotate(15deg);
    max-width: 100%;
    height: auto;
    display: block;
}
    @keyframes float {
    0% { transform: rotate(15deg) translateY(0px); }
    50% { transform: rotate(15deg) translateY(-20px); }
    100% { transform: rotate(15deg) translateY(0px); }
}

.laptop-container {
    max-width: 380px;
    min-width: 220px;
    width: 100%;
    margin-left: 5rem;
    margin-right: 0;
    padding: 24px 12px;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .laptop-container {
        margin-left: 0;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        padding: 30px;
    }
}

/* SCROLLBAR */

::-webkit-scrollbar { 
    width: 10px; 
}

/* Handle */
::-webkit-scrollbar-thumb { 
    background: #374554;
} 
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { 
    background: #253443;
    cursor: pointer;
}
